:root {
  --sidebar: rgba(25, 24, 24, 0.84) !important;
  --footerBG: #191818bd !important;
  --pageBG: rgb(25, 24, 24, 0.84) !important;
  --pageBG-rgb: rgba(25, 24, 24, 0.1) !important;

  --modalBGColor: var(--pageBG) !important;
  --playerBackground: var(--sidebar) !important;
  --playerLCDBGFill: var(--sidebar) !important;
  --systemHeaderMaterialSover: var(--pageBG) !important;
  --systemQuaternary: var(--pageBG-rgb) !important;
}

body > div {
  background-color: var(--pageBG) !important;
}
