[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Apple Music
Comment=Apple Music Electron
Exec=apple-music-electron
Icon=./icons/icon.icns
Terminal=False
Categories=AudioVideo