[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Apple Music
Comment=Apple Music Electron
Exec=apple-music-electron
Icon=./icons/icon.icns
mimeTypes: x-scheme-handler/apple-music-elctron;
Terminal=False
Categories=AudioVideo