/* Back Button CSS */

#backButtonBar {
  position: absolute;
  width: 100%;
  top: 0;
  height: 40px;
  transition: 0.2s;
  background-color: transparent;
  padding: 5px 10px;
  z-index: 9902;
  opacity: 0.95;
  margin-top: 55px;
}

#backButtonBar .button-area {
  position: inherit;
  width: 50px;
  height: 30px;
  max-height: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 7px;
  opacity: 1;
  transition: 0.2s;
}

#backButtonBar .button-area:active {
  background-color: var(--segmentedControlSelectedBG) !important;
  backdrop-filter: saturate(0%) blur(25px) !important;
  box-shadow: 0 0 0.5px var(--segmentedControlSelectedBorder),
    0 3px 8px var(--segmentedControlSelectedShadow1),
    0 3px 1px var(--segmentedControlSelectedShadow2);
}

#backButtonBar .button-area img:active {
  opacity: 1 !important;
}

#backButtonBar .button-area img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  opacity: 0.5;
  z-index: 10000;
  transition: 0.2s;
}

#backButtonBar .button-area img:hover {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  #backButtonBar .button-area img {
    filter: brightness(0) invert(1);
  }
}

/* Settings Menu CSS */

.application-preferences {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  margin-top: 40px;
}

.app-prefs-section {
  width: 100%;
  height: auto;
  grid-column-start: auto;
  display: grid;
  grid-template-columns: 30% auto;
}

.app-prefs-section .app-prefs-general {
  grid-column: 1;
  grid-row: 1;
}

span.app-prefs-title {
  margin: 10px;
  font-size: large;
  font-weight: bold;
}

.settings-list {
  margin: 50px 10px 50px 10px;
  grid-column: 2;
}

.settings-list li {
  margin: 5px 0 5px 10px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #8DB600;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8DB600;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
