:root {
    --sidebar: var(--sidebarGlasstron) !important;
}

.page-container {
    background-color: var(--pageBG) !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --sidebarGlasstron: #00000018;
        --pageBG: #0D0C0CDB;
        --playerBackgroundFallback: #131313ad;
        --playerBackground: #131313ad;
        --footerBG: var(--pageBG);
    }

    .dt-search-box__input {
        background-color: rgba(60, 60, 67, 0.45) !important;
    }

    .dt-search-box__input::placeholder {
        color: #757582 !important;
    }

    .web-chrome {
        box-shadow: 0 1px 0 #000000ab, 0 1px 3px #000000c7, inset 0 -.5px 0 var(--playerInnerShadow) !important;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --sidebarGlasstron: #FFFFFF6b;
    }

    .dt-search-box__input {
        background-color: rgba(225, 225, 225, 0.45) !important;
    }

    .dt-search-box__input::placeholder {
        color: #757582 !important;
    }
}

.web-chrome-playback-lcd {
    border-radius: 3px !important;
}

html body {
    background-color: var(--sidebar) !important;
}

.dt-footer {
    background-color: var(--pageBG) !important;
}