::-webkit-scrollbar {     
  opacity: 0 !important;
  width: 0.8vw;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar:hover {
  background: rgba(46, 46, 46, 0.84);
}

::-webkit-scrollbar-thumb {
  background:  rgba(127, 127, 127, 0.84);
  border-radius: 10px !important;
}