@media only screen and (max-width: 485px) {
    /* Side Bar */
    .web-navigation__navigation-container {
        display: none !important;
        position: fixed !important;
        overflow: hidden !important;
        z-index: 9901 !important;
    }

    /* Span the Lyrics */
    .web-chrome-playback-lcd__now-playing-container {
        width: 100% !important;
    }

    /* Page */
    .web-navigation {
        grid-template-columns: minmax(0,1fr);
        grid-template-areas: 'page'
    }

    /* Media Panel */
    .web-chrome {
        top: 0 !important;
        position: fixed !important;
        visibility: visible !important;
        z-index: 9999 !important;
        width: 100% !important;
    }

    /* Block the Profile Picture */
    #ember17 {
        display: none !important;
        position: fixed !important;
        overflow: hidden !important;
    }

    /* Hide Playback Controls */
    .web-chrome-playback-controls__main {
        display: none !important;
        overflow: hidden !important;
    }

    /* Hide Annoying Menu Icon */
    .menuicon {
        display: none !important;
        overflow: hidden !important;
    }

    /* Hide the Drag Div if the user has right */
    .dragDiv, .mainDragDiv, .sidebarDragDiv {
        display: none !important;
        overflow: hidden !important;
    }
}

/* Removes Apple Logo */
.web-navigation__header--logo {
    display: none !important;
    overflow: hidden !important;
}

/* Remove Upsell */
.web-navigation__native-upsell {
    display: none !important;
    overflow: hidden !important;
}