<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Remote</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
    <link rel="manifest" href="./manifest.json">
</head>

<body oncontextmenu="return false;">
    <div id="app">
        <div class="md-container md-container_panel" v-if="screen == 'player'">
            <div class="md-body player-artwork-container">
                <div class="media-artwork" :class="artworkPlaying()" :style="{'--artwork': getAlbumArtUrl()}">

                </div>
            </div>

            <div class="md-footer">
                <div class="row player-track-info">
                    <div class="col nopadding">
                        <div class="player-song-title">
                            {{ player.currentMediaItem.name }}
                        </div>
                        <div class="player-song-artist">
                            {{ player.currentMediaItem.artistName }}
                        </div>
                    </div>
                    <div class="col-auto nopadding player-more-container" style="">
                        <button @click="player.songActions = true;" class="player-more-button">...</button>
                    </div>
                </div>
            </div>

            <div class="md-footer">
                <input type="range" min="0"
                    :value="player.currentMediaItem.durationInMillis - player.currentMediaItem.remainingTime"
                    :max="player.currentMediaItem.durationInMillis" class="md-slider playback-slider"
                    @change="seekTo($event.target.value)">
                <div class="row nopadding player-duration-container" style="width: 90%;margin: 0 auto;">
                    <div class="col nopadding player-duration-time" style="text-align:left">
                        {{ parseTime(player.currentMediaItem.durationInMillis - player.currentMediaItem.remainingTime) }}
                    </div>
                    <div class="col nopadding player-duration-time" style="text-align:right">
                        -{{ parseTime(player.currentMediaItem.remainingTime) }}
                    </div>
                </div>
            </div>

            <div class="md-footer playback-buttons">
                <button class="md-btn playback-button--small" @click="repeat()">🔁</button>
                <button class="md-btn playback-button previous" @click="previous()"></button>
                <button class="md-btn playback-button pause" @click="pause()"
                    v-if="player.currentMediaItem.status"></button>
                <button class="md-btn playback-button play" @click="play()" v-else></button>
                <button class="md-btn playback-button next" @click="next()"></button>
                <button class="md-btn playback-button--small" @click="shuffle()">🔀</button>
            </div>


            <div class="md-footer">
                <input type="range" class="md-slider volume-slider">
            </div>

            <div class="md-footer">
                <button class="md-btn playback-button--small">Lyrics</button>
                <button class="md-btn playback-button--small" @click="quickSearch()">Up Next</button>
                <button class="md-btn playback-button--small" @click="screen = 'search'">Search</button>
            </div>

        </div>
        <div class="md-container md-container_panel" v-if="screen == 'search'">
            <div class="md-header">
                <button @click="screen = 'player'">Back</button>
                Search
            </div>
            <div class="md-header">
                <div class="row">
                    <div class="col">
                        <input type="text" v-model="search.query" class="search-input">
                    </div>
                    <div class="col-auto">
                        <button class="md-btn md-btn-primary" @click="searchQuery()">Search</button>
                    </div>
                </div>
            </div>
            <div class="md-body" style="overflow-y:scroll;">
                <div class="list-entry-header">Songs</div>
                <div class="list-entry" v-for="song in search.results.songs" @click="playMediaItemById(song.id)">
                    <div class="list-entry-image" v-if="song.artwork" :style="{'--artwork': getAlbumArtUrlList(song.artwork.url)}">

                    </div>
                    <div class="list-entry-text">
                        {{ song.name }}
                    </div>
                </div>
                <div class="list-entry-header">Albums</div>
                <div class="list-entry" v-for="album in search.results.albums" @click="playMediaItemById(album.id)">
                    <div class="list-entry-image" v-if="album.artwork" :style="{'--artwork': getAlbumArtUrlList(album.artwork.url)}">

                    </div>
                    <div class="list-entry-text">
                        {{ album.name }}
                    </div>
                </div>
                <div class="list-entry-header">Artists</div>
                <div class="list-entry" v-for="artist in search.results.artists" @click="playMediaItemById(artist.id)">
                    <div class="list-entry-image" v-if="artist.artwork" :style="{'--artwork': getAlbumArtUrlList(artist.artwork.url)}">

                    </div>
                    <div class="list-entry-text">
                        {{ artist.name }}
                    </div>
                </div>
            </div>
            <div class="md-footer">
            </div>
        </div>
        <div class="md-container md-container_panel context-menu" v-if="player.songActions">
            <div class="md-header">

            </div>
            <div class="md-body context-menu-body">
                <button class="context-menu-item context-menu-item--left">
                    <div class="row">
                        <div class="col">
                            Add To Library
                        </div>
                        <div class="col-auto">
                            ➕
                        </div>
                    </div>
                </button>
                <button class="context-menu-item context-menu-item--left">
                    <div class="row">
                        <div class="col">
                            Love
                        </div>
                        <div class="col-auto">
                            ❤️
                        </div>
                    </div>
                </button>
                <button class="context-menu-item context-menu-item--left">
                    <div class="row">
                        <div class="col">
                            Share
                        </div>
                        <div class="col-auto">
                            🌐
                        </div>
                    </div>
                </button>
                <button class="context-menu-item context-menu-item--left">
                    <div class="row">
                        <div class="col">
                            Open in {{ musicAppVariant() }}
                        </div>
                        <div class="col-auto">
                            🎵
                        </div>
                    </div>
                </button>
            </div>
            <div class="md-footer">
                <button class="context-menu-item" @click="player.songActions = false">Cancel</button>
            </div>
        </div>
        <div class="md-container md-container_panel" v-if="false">
            <div class="md-header">

            </div>
            <div class="md-body">

            </div>
            <div class="md-footer">

            </div>
        </div>
    </div>
    <script src="index.js"></script>

</body>

</html>