@import url("ameframework.css");

:root {
    --appleEase: cubic-bezier(0.42, 0, 0.58, 1);
    --keyColor: #fa586a;
    --keyColor-rgb: 250,88,106;
    --keyColor-rollover: #ff8a9c;
    --keyColor-rollover-rgb: 255,138,156;
    --keyColor-pressed: #ff7183;
    --keyColor-pressed-rgb: 255,113,131;
    --keyColor-deepPressed: #ff8a9c;
    --keyColor-deepPressed-rgb: 255,138,156;
    --keyColor-disabled: rgba(250, 88, 106, 0.35);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#app{
    max-width: 600px;
    width: 100%;
    height: 100%;
    background:rgb(31 27 42);
    color: white;
    user-select: none;
    margin: 0 auto;
    position: relative;
}

body {
    background: #111;
    font-family: "Segoe UI Variable Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nopadding {
    padding: 0px;
}

.md-btn {
    font-family: inherit;
}

.player-duration-time {
    opacity: 0.5;
}

.player-artwork-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-duration-container {
    font-size: 0.85em;
    font-weight: 500;
}

.media-artwork {
    --artwork: url("");
    width: 80vw;
    height: 80vw;
    max-height: 500px;
    max-width: 500px;
    background: black;
    background-image: var(--artwork);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 1px rgb(200 200 200 / 16%), 0 8px 40px rgb(0 0 0 / 0.55);
    transition: transform .10s var(--appleEase);
}

.media-artwork.paused {
    transition: transform .35s var(--appleEase);
    transform: scale(0.85);
}

.playback-slider {
    width: 90%;
}

.volume-slider {
    width: 90%;
}

.playback-button {
    font-size: 2em;
    width: 64px;
    height: 64px;
    padding:0px;
    color: inherit;
}

.playback-button--small {
    font-size: 1em;
    color: inherit;
}

.player-track-info {
    width: 90%;
    margin: 0 auto;
}

.player-song-title {
    font-size: 1.35em;
    text-align: left;
    margin: 0 auto;
    font-weight: 500;
}

.player-song-artist {
    font-size: 1.0em;
    text-align: left;
    margin: 0 auto;
    color: var(--keyColor);
    font-weight: 400;
}

.player-song-artist:hover {
    cursor: pointer;
    text-decoration: underline;
}

.player-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-more-button {
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0px;
    background: var(--keyColor);
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px rgb(200 200 200 / 16%);
    color: white;
    font-weight: bold;
    padding:0px;
    font-size: 16px;
}

.search-input {
    width:100%;
    padding: 12px;
    font-size: 1.5em;
}

.md-container {
    width:100%;
}

.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.context-menu .context-menu-item {
    --borderRadius: 10px;
    appearance: none;
    width:100%;
    display: block;
    font-size: 1.10em;
    padding: 18px 20px;
    font-family: inherit;
    border:0px;
    font-weight: 600;
    border-radius: 0px;
    border-bottom: 1px solid rgb(200 200 200 / 15%);
    margin:0px;
    background: rgb(60 60 60 / 80%);
    backdrop-filter: blur(16px) saturate(180%);
    color: #ccc;
}
.context-menu .context-menu-item:hover {
    cursor: pointer;
}
.context-menu .context-menu-item:active {
    filter: brightness(75%);
}

.context-menu .context-menu-item:first-child {
    border-radius:0px;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}

.context-menu .context-menu-item:last-child {
    border-radius:0px;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border-bottom: 0px;
}

.context-menu .context-menu-item:only-child {
    border-radius:var(--borderRadius);
}

.context-menu .context-menu-item.context-menu-item--left {
    text-align: left;
}

.context-menu .context-menu-body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}