/**
 * @name Blurple
 * @author Core#1034
 * @description Cool blurple theme, uses similar colors to discord but a bit darker.
*/

@media (prefers-color-scheme:dark) {
    :root {
        --primaryColor: #5865f2 !important;
        --primaryColor-rgb: 88, 101, 242 !important;
        --footerBG: #131519 !important;
        --pageBG: #171a1f !important;
        --playerBackground: #131519 !important;
        --playerLCDBGFill: #131519 !important;

        /* Glasstron */
        --sidebarGlasstron: #13151957;

        /* Standard */
        --sidebarStandard: #131519;

        /* Set the Default Stuff */
        --modalBGColor: var(--pageBG) !important;
        --systemHeaderMaterialSover: var(--pageBG) !important;
        --systemQuaternary: var(--pageBG-rgb) !important;
        --selectionColor: var(--primaryColor) !important;
    }

    .web-chrome > div {
        background-color: var(--playerBackground) !important;
        backdrop-filter: saturate(0%) blur(25px) !important;
    }

    .search-scope-bar {
        background-color: var(--playerBackground) !important;
        backdrop-filter: saturate(0%) blur(25px) !important;
    }
}