@media (prefers-color-scheme:light) {
  :root {
    --bodyGutter: 25px;
    /* color-scheme: light dark; */
    --systemPrimary: rgba(0, 0, 0, 0.85);
    --systemSecondary: rgba(0, 0, 0, 0.5);
    --systemTertiary: rgba(0, 0, 0, 0.25);
    --systemQuaternary: rgba(0, 0, 0, 0.1);
    --systemQuinary: rgba(0, 0, 0, 0.05);
    --systemVibrantPrimary: #262626;
    --systemVibrantPrimary-rgb: 38, 38, 38;
    --systemVibrantSecondary: #737373;
    --systemVibrantSecondary-rgb: 115, 115, 115;
    --systemVibrantTertiary: #bfbfbf;
    --systemVibrantTertiary-rgb: 191, 191, 191;
    --systemVibrantQuaternary: #e5e5e5;
    --systemVibrantQuaternary-rgb: 229, 229, 229;
    --systemVibrantQuinary: #f2f2f2;
    --systemVibrantQuinary-rgb: 242, 242, 242;
    --systemVibrantTextPrimary: #4d4d4d;
    --systemVibrantTextPrimary-rgb: 77, 77, 77;
    --systemVibrantTextSecondary: gray;
    --systemVibrantTextSecondary-rgb: 128, 128, 128;
    --systemVibrantTextTertiary: #c6c6c6;
    --systemVibrantTextTertiary-rgb: 198, 198, 198;
    --primaryColor: #fa233b;
    --primaryColor-rgb: 250, 35, 59;
    --primaryColorRollover: #c60007;
    --primaryColorRollover-rgb: 198, 0, 7;
    --primaryColorPressed: #e00921;
    --primaryColorPressed-rgb: 224, 9, 33;
    --primaryColorDeepPressed: #c60007;
    --primaryColorDeepPressed-rgb: 198, 0, 7;
    --primaryColorDisabled: rgba(250, 35, 59, 0.35);
    --labelPrimary: rgba(0, 0, 0, 0.85);
    --labelSecondary: rgba(0, 0, 0, 0.5);
    --labelTertiary: rgba(0, 0, 0, 0.25);
    --labelQuaternary: rgba(0, 0, 0, 0.1);
    --vibrantPrimary: #262626;
    --vibrantPrimary-rgb: 38, 38, 38;
    --vibrantSecondary: #737373;
    --vibrantSecondary-rgb: 115, 115, 115;
    --vibrantTertiary: #bfbfbf;
    --vibrantTertiary-rgb: 191, 191, 191;
    --vibrantQuaternary: #e5e5e5;
    --vibrantQuaternary-rgb: 229, 229, 229;
    --labelDivider: rgba(0, 0, 0, 0.15);
    --vibrantDivider: rgba(60, 60, 67, 0.29);
    --genericJoeColor: #ebebeb;
    --genericJoeColor-rgb: 235, 235, 235;
    --opaqueShelfBG: #f2f2f2;
    --opaqueShelfBG-rgb: 242, 242, 242;
    --pageBG: white;
    --pageBG-rgb: 255, 255, 255;
    --profileBadgeJoeColor: #e2e4e7;
    --profileBadgeJoeColor-rgb: 226, 228, 231;
    --shelfBG: rgba(0, 0, 0, 0.05);
    --systemGreen: #28cd41;
    --systemGreen-rgb: 40, 205, 65;
    --systemRed: #ff3b30;
    --systemRed-rgb: 255, 59, 48;
    --modalBGColor: white;
    --modalBGColor-rgb: 255, 255, 255;
    --modalBGHeaderColor: rgba(255, 255, 255, 0.97);
    --modalScrimColor: rgba(0, 0, 0, 0.45);
    --selectionColor: #dd1f34;
    --selectionColor-rgb: 221, 31, 52;
    --selectionColorRollover: #af0007;
    --selectionColorRollover-rgb: 175, 0, 7;
    --selectionColorPressed: #c6081d;
    --selectionColorPressed-rgb: 198, 8, 29;
    --selectionColorDeepPressed: #af0007;
    --selectionColorDeepPressed-rgb: 175, 0, 7;
    --selectionColorDisabled: rgba(250, 35, 59, 0.35);
    --topResultsBGColor: rgba(0, 0, 0, 0.1);
    --lockupHoverBGColor: rgba(51, 51, 51, 0.3);
    --opaquePageBGColor: white;
    --opaquePageBGColor-rgb: 255, 255, 255;
    --replayCardBG: #f7f3eb;
    --replayCardBG-rgb: 247, 243, 235;
    --replayComponentBG: #fbf9f5;
    --replayComponentBG-rgb: 251, 249, 245;
    --explicitBadgeColor: #6c6c70;
    --explicitBadgeColor-rgb: 108, 108, 112;
    --systemGrayIncreaseContrast: #6c6c70;
    --systemGrayIncreaseContrast-rgb: 108, 108, 112;
    --barButtonDeselectedGradientTop: #fefefe;
    --barButtonDeselectedGradientTop-rgb: 254, 254, 254;
    --barButtonDeselectedGradientBottom: #fafafa;
    --barButtonDeselectedGradientBottom-rgb: 250, 250, 250;
    --barButtonSelectedBGFill: #7f7f7f;
    --barButtonSelectedBGFill-rgb: 127, 127, 127;
    --barButtonSelectedTextColor: white;
    --barButtonSelectedTextColor-rgb: 255, 255, 255;
    --lockupSuperlabelPrimary: rgba(255, 255, 255, 0.95);
    --lockupChinScrim: rgba(0, 0, 0, 0.2);
    --lovedBGColor: #fa233b;
    --lovedBGColor-rgb: 250, 35, 59;
    --playerDropShadow2: rgba(0, 0, 0, 0.07);
    --playerInnerShadow: rgba(255, 255, 255, 0.45);
    --powerSwooshAlgoRadioLockupChinScrim: rgba(44, 44, 46, 0.4);
    --socialSearchBG: rgba(0, 0, 0, 0.15);
    --socialModalFooter: rgba(255, 255, 255, 0.7);
    --tracklistAltRowColor: rgba(0, 0, 0, 0.015);
    --tracklistHoverColor: rgba(0, 0, 0, 0.06);
    --tracklistWorksTrackHoverColor: rgba(0, 0, 0, 0.12);
    --viewLoading: white;
    --viewLoading-rgb: 255, 255, 255;
    --systemThinMaterialSover: rgba(246, 246, 246, 0.48);
    --systemThinMaterialSoverInactive: #f0f0f0;
    --systemThinMaterialSoverInactive-rgb: 240.006, 240.006, 240.006;
    --systemThinMaterialSoverIncreaseContrast: gainsboro;
    --systemThinMaterialSoverIncreaseContrast-rgb: 219.9885, 219.9885, 219.9885;
    --systemThinMaterialSoverIncreaseContrastInactive: #ececec;
    --systemThinMaterialSoverIncreaseContrastInactive-rgb: 236.0025, 236.0025, 236.0025;
    --systemMediumMaterialSover: rgba(246, 246, 246, 0.6);
    --systemMediumMaterialSoverInactive: #f0f0f0;
    --systemMediumMaterialSoverInactive-rgb: 240.006, 240.006, 240.006;
    --systemMediumMaterialSoverIncreaseContrast: #e6e6e6;
    --systemMediumMaterialSoverIncreaseContrast-rgb: 230.01, 230.01, 230.01;
    --systemMediumMaterialSoverIncreaseContrastInactive: #ececec;
    --systemMediumMaterialSoverIncreaseContrastInactive-rgb: 236.0025, 236.0025, 236.0025;
    --systemThickMaterialSover: rgba(246, 246, 246, 0.72);
    --systemThickMaterialSoverInactive: #f0f0f0;
    --systemThickMaterialSoverInactive-rgb: 240.006, 240.006, 240.006;
    --systemThickMaterialSoverIncreaseContrast: #f0f0f0;
    --systemThickMaterialSoverIncreaseContrast-rgb: 240.006, 240.006, 240.006;
    --systemThickMaterialSoverIncreaseContrastInactive: #ececec;
    --systemThickMaterialSoverIncreaseContrastInactive-rgb: 236.0025, 236.0025, 236.0025;
    --systemHeaderMaterialSover: rgba(255, 255, 255, 0.8);
    --systemHeaderMaterialSoverIncreaseContrast: white;
    --systemHeaderMaterialSoverIncreaseContrast-rgb: 255, 255, 255;
    --circularArtistHeaderGradientBottom: rgba(0, 0, 0, 0.05);
    --dialogScrimColor: rgba(255, 255, 255, 0.8);
    --monogramPlaceholderColor: #9a9aa2;
    --monogramPlaceholderColor-rgb: 154, 154, 162;
    --listItemAddDownloadBG: rgba(0, 0, 0, 0.5);
    --listItemProgressBG: rgba(0, 0, 0, 0.25);
    --upsellBannerBG: #fa233b;
    --upsellBannerBG-rgb: 250, 35, 59;
    --radiosityShadowColor: rgba(0, 0, 0, 0.1);
    --dialogShadowColor: rgba(0, 0, 0, 0.25);
    --contextMenuBorderColor: rgba(0, 0, 0, 0.15);
    --contextMenuTextColor: rgba(0, 0, 0, 0.85);
    --footerBG: #fbfbfb;
    --footerBG-rgb: 251, 251, 251;
    --frostedFallbackHover: rgba(142, 142, 147, 0.8);
    --iPhoneNowPlayingBackdropBG: #dbccc4;
    --iPhoneNowPlayingBackdropBG-rgb: 219, 204, 196;
    --searchBorder: rgba(0, 0, 0, 0.15);
    --searchIconDropShadow: rgba(0, 0, 0, 0.15);
    --searchHintsBG: rgba(232, 232, 232, 0.9);
    --searchHintsBGHover: rgba(201, 204, 203, 0.9);
    --sidebar: rgba(60, 60, 67, 0.03);
    --sidebarBorderRule: rgba(0, 0, 0, 0.1);
    --sidebarSelectedState: rgba(60, 60, 67, 0.1);
    --sidebarNativeUpsellBackgroundFallback: rgba(255, 255, 255, 0.97);
    --webNavigationMobileBg: white;
    --webNavigationMobileBg-rgb: 255, 255, 255;
    --playerScrubberPlayhead: #737373;
    --playerScrubberPlayhead-rgb: 115, 115, 115;
    --playerScrubberFill: rgba(0, 0, 0, 0.5);
    --playerScrubberTrack: rgba(0, 0, 0, 0.1);
    --playerBackgroundFallback: rgba(255, 255, 255, 0.97);
    --playerBackground: rgba(255, 255, 255, 0.88);
    --playerGradientTop: rgba(255, 255, 255, 0.25);
    --playerGradientBottom: rgba(255, 255, 255, 0);
    --playerLCDLogo: rgba(0, 0, 0, 0.4);
    --playerLCDBGFill: white;
    --playerLCDBGFill-rgb: 255, 255, 255;
    --playerLCDBGOuterStroke: rgba(0, 0, 0, 0.2);
    --playerArtworkKeyline: rgba(0, 0, 0, 0.1);
    --playerVolumePlayhead: white;
    --playerVolumePlayhead-rgb: 255, 255, 255;
    --playerVolumePlayheadActive: #e5e5e5;
    --playerVolumePlayheadActive-rgb: 229, 229, 229;
    --playerVolumeFill: rgba(0, 0, 0, 0.5);
    --playerVolumeTrack: rgba(0, 0, 0, 0.15);
    --playerVolumeIconFill: rgba(0, 0, 0, 0.4);
    --trackBackgroundEven: rgba(0, 0, 0, 0.02);
    --trackHoverColor: rgba(255, 255, 255, 0.97);
    --playerPlatterButtonBGFill: #6c6c6c;
    --playerPlatterButtonBGFill-rgb: 108, 108, 108;
    --playerPlatterButtonIconFill: white;
    --playerPlatterButtonIconFill-rgb: 255, 255, 255;
    --librarySongsTrackInactiveBG: rgba(0, 0, 0, 0.14);
    --searchScopeDeselectedGradientTop: #fefefe;
    --searchScopeDeselectedGradientTop-rgb: 254, 254, 254;
    --searchScopeDeselectedGradientBottom: #fafafa;
    --searchScopeDeselectedGradientBottom-rgb: 250, 250, 250;
    --searchScopeSelectedBGFill: #7f7f7f;
    --searchScopeSelectedBGFill-rgb: 127, 127, 127;
    --searchScopeSelectedTextColor: white;
    --searchScopeSelectedTextColor-rgb: 255, 255, 255;
    --searchBoxIconFill: rgba(0, 0, 0, 0.65);
    --segmentedControlBG: rgba(118, 118, 128, 0.12);
    --segmentedControlSelectedBG: white;
    --segmentedControlSelectedBG-rgb: 255, 255, 255;
    --segmentedControlSelectedShadow1: rgba(0, 0, 0, 0.12);
    --segmentedControlSelectedShadow2: rgba(0, 0, 0, 0.04);
    --segmentedControlSelectedBorder: rgba(0, 0, 0, 0.04);
    --searchBarBorderColor: rgba(0, 0, 0, 0.15);
    --viewport-default: "xsmall";
    --viewport-grid-layout: "grid-layout:xs-1";
    --viewport-sidebar: "sidebar:hidden";
    --viewport-search-landing-grid: "search-landing-grid:1";
    --web-navigation-width: 164px;
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --systemDefault:#0a84ff;
    --systemDefault-rgb:10,132,255;
    --systemDefault-vibrant:#419cff;
    --systemDefault-vibrant-rgb:65,156,255;
    --systemRed:#ff453a;
    --systemRed-rgb:255,69,58;
    --systemRed-vibrant:#ff4f44;
    --systemRed-vibrant-rgb:255,79,68;
    --systemOrange:#ff9f0a;
    --systemOrange-rgb:255,159,10;
    --systemOrange-vibrant:#ffa914;
    --systemOrange-vibrant-rgb:255,169,20;
    --systemYellow:#ffd60a;
    --systemYellow-rgb:255,214,10;
    --systemYellow-vibrant:#ffd60a;
    --systemYellow-vibrant-rgb:255,214,10;
    --systemGreen:#32d74b;
    --systemGreen-rgb:50,215,75;
    --systemGreen-vibrant:#32d74b;
    --systemGreen-vibrant-rgb:50,215,75;
    --systemTeal:#5ac8f5;
    --systemTeal-rgb:90,200,245;
    --systemTeal-vibrant:#5acdfa;
    --systemTeal-vibrant-rgb:90,205,250;
    --systemBlue:#0a84ff;
    --systemBlue-rgb:10,132,255;
    --systemBlue-vibrant:#148eff;
    --systemBlue-vibrant-rgb:20,142,255;
    --systemIndigo:#5e5ce6;
    --systemIndigo-rgb:94,92,230;
    --systemIndigo-vibrant:#6361f2;
    --systemIndigo-vibrant-rgb:99,97,242;
    --systemPurple:#bf5af2;
    --systemPurple-rgb:191,90,242;
    --systemPurple-vibrant:#cc65ff;
    --systemPurple-vibrant-rgb:204,101,255;
    --systemPink:#ff375f;
    --systemPink-rgb:255,55,95;
    --systemPink-vibrant:#ff375f;
    --systemPink-vibrant-rgb:255,55,95;
    --systemBrown:#ac8e68;
    --systemBrown-rgb:172,142,104;
    --systemBrown-vibrant:#b69872;
    --systemBrown-vibrant-rgb:182,152,114;
    --systemGray:#98989d;
    --systemGray-rgb:152,152,157;
    --systemGray-vibrant:#a2a2a7;
    --systemGray-vibrant-rgb:162,162,167;
    --systemPrimary:rgba(255, 255, 255, 0.85);
    --systemPrimary-vibrant:#e5e5e5;
    --systemPrimary-vibrant-rgb:229,229,229;
    --systemPrimary-text:rgba(255, 255, 255, 0.85);
    --systemPrimary-vibrantText:#e5e5e5;
    --systemPrimary-vibrantText-rgb:229,229,229;
    --systemSecondary:rgba(255, 255, 255, 0.55);
    --systemSecondary-vibrant:#7c7c7c;
    --systemSecondary-vibrant-rgb:124,124,124;
    --systemSecondary-text:rgba(255, 255, 255, 0.55);
    --systemSecondary-vibrantText:gray;
    --systemSecondary-vibrantText-rgb:128,128,128;
    --systemTertiary:rgba(255, 255, 255, 0.25);
    --systemTertiary-vibrant:#414141;
    --systemTertiary-vibrant-rgb:65,65,65;
    --systemTertiary-text:rgba(255, 255, 255, 0.25);
    --systemTertiary-vibrantText:#414141;
    --systemTertiary-vibrantText-rgb:65,65,65;
    --systemQuaternary:rgba(255, 255, 255, 0.1);
    --systemQuaternary-vibrant:#232323;
    --systemQuaternary-vibrant-rgb:35,35,35;
    --systemQuinary:rgba(255, 255, 255, 0.05);
    --systemQuinary-vibrant:#080808;
    --systemQuinary-vibrant-rgb:8,8,8;
    --systemStandardUltrathinMaterialSover:rgba(40, 40, 40, 0.4);
    --systemStandardUltrathinMaterialSoverInactive:#282828;
    --systemStandardUltrathinMaterialSoverInactive-rgb:40.0095,40.0095,40.0095;
    --systemStandardUltrathinMaterialSoverIncreaseContrast:black;
    --systemStandardUltrathinMaterialSoverIncreaseContrast-rgb:0,0,0;
    --systemStandardUltrathinMaterialSoverIncreaseContrastInactive:#141414;
    --systemStandardUltrathinMaterialSoverIncreaseContrastInactive-rgb:19.99965,19.99965,19.99965;
    --systemStandardThinMaterialSover:rgba(40, 40, 40, 0.5);
    --systemStandardThinMaterialSoverInactive:#282828;
    --systemStandardThinMaterialSoverInactive-rgb:40.0095,40.0095,40.0095;
    --systemStandardThinMaterialSoverIncreaseContrast:#0a0a0a;
    --systemStandardThinMaterialSoverIncreaseContrast-rgb:10.0011,10.0011,10.0011;
    --systemStandardThinMaterialSoverIncreaseContrastInactive:#141414;
    --systemStandardThinMaterialSoverIncreaseContrastInactive-rgb:19.99965,19.99965,19.99965;
    --systemStandardMediumMaterialSover:rgba(40, 40, 40, 0.6);
    --systemStandardMediumMaterialSoverInactive:#282828;
    --systemStandardMediumMaterialSoverInactive-rgb:40.0095,40.0095,40.0095;
    --systemStandardMediumMaterialSoverIncreaseContrast:#141414;
    --systemStandardMediumMaterialSoverIncreaseContrast-rgb:19.99965,19.99965,19.99965;
    --systemStandardMediumMaterialSoverIncreaseContrastInactive:#141414;
    --systemStandardMediumMaterialSoverIncreaseContrastInactive-rgb:19.99965,19.99965,19.99965;
    --systemStandardThickMaterialSover:rgba(40, 40, 40, 0.7);
    --systemStandardThickMaterialSoverInactive:#282828;
    --systemStandardThickMaterialSoverInactive-rgb:40.0095,40.0095,40.0095;
    --systemStandardThickMaterialSoverIncreaseContrast:#1e1e1e;
    --systemStandardThickMaterialSoverIncreaseContrast-rgb:29.988,29.988,29.988;
    --systemStandardThickMaterialSoverIncreaseContrastInactive:#141414;
    --systemStandardThickMaterialSoverIncreaseContrastInactive-rgb:19.99965,19.99965,19.99965;
    --systemStandardUltrathickMaterialSover:rgba(40, 40, 40, 0.8);
    --systemStandardUltrathickMaterialSoverInactive:#282828;
    --systemStandardUltrathickMaterialSoverInactive-rgb:40.0095,40.0095,40.0095;
    --systemStandardUltrathickMaterialSoverIncreaseContrast:#282828;
    --systemStandardUltrathickMaterialSoverIncreaseContrast-rgb:40.0095,40.0095,40.0095;
    --systemStandardUltrathickMaterialSoverIncreaseContrastInactive:#141414;
    --systemStandardUltrathickMaterialSoverIncreaseContrastInactive-rgb:19.99965,19.99965,19.99965;
    --systemHeaderMaterialSover:rgba(30, 30, 30, 0.8);
    --systemHeaderMaterialSoverIncreaseContrast:#1e1e1e;
    --systemHeaderMaterialSoverIncreaseContrast-rgb:29.988,29.988,29.988;
    --labelDivider:rgba(255, 255, 255, 0.1);
    --vibrantDivider:rgba(235, 235, 245, 0.19);
    --pageBG:#1f1f1f;
    --pageBG-rgb:31,31,31;
    --shelfBG:rgba(255, 255, 255, 0.05);
    --genericJoeColor:#323232;
    --genericJoeColor-rgb:50,50,50;
    --primaryColor:#fa2d48;
    --primaryColor-rgb:250,45,72;
    --primaryColorRollover:#ff5f7a;
    --primaryColorRollover-rgb:255,95,122;
    --primaryColorPressed:#ff4661;
    --primaryColorPressed-rgb:255,70,97;
    --primaryColorDeepPressed:#ff5f7a;
    --primaryColorDeepPressed-rgb:255,95,122;
    --primaryColorDisabled:rgba(250, 45, 72, 0.35);
    --opaqueShelfBG:#2b2b2b;
    --opaqueShelfBG-rgb:43,43,43;
    --profileBadgeJoeColor:#e2e4e7;
    --profileBadgeJoeColor-rgb:226,228,231;
    --modalBGColor:#1f1f1f;
    --modalBGColor-rgb:31,31,31;
    --modalBGHeaderColor:rgba(31, 31, 31, 0.97);
    --modalScrimColor:rgba(0, 0, 0, 0.55);
    --selectionColor:#c12238;
    --selectionColor-rgb:193,34,56;
    --selectionColorRollover:#c5495e;
    --selectionColorRollover-rgb:197,73,94;
    --selectionColorPressed:#c5364b;
    --selectionColorPressed-rgb:197,54,75;
    --selectionColorDeepPressed:#c5495e;
    --selectionColorDeepPressed-rgb:197,73,94;
    --selectionColorDisabled:rgba(250, 45, 72, 0.35);
    --topResultsBGColor:rgba(255, 255, 255, 0.1);
    --lockupHoverBGColor:rgba(51, 51, 51, 0.3);
    --opaquePageBGColor:#2d2d2d;
    --opaquePageBGColor-rgb:45,45,45;
    --replayCardBG:#1a1a1a;
    --replayCardBG-rgb:25.5,25.5,25.5;
    --replayComponentBG:#2e2e2e;
    --replayComponentBG-rgb:46,46,46;
    --explicitBadgeColor:#aeaeb2;
    --explicitBadgeColor-rgb:174,174,178;
    --systemGrayIncreaseContrast:#aeaeb2;
    --systemGrayIncreaseContrast-rgb:174,174,178;
    --barButtonDeselectedGradientTop:#595a5c;
    --barButtonDeselectedGradientTop-rgb:89,90,92;
    --barButtonDeselectedGradientBottom:#565759;
    --barButtonDeselectedGradientBottom-rgb:86,87,89;
    --barButtonSelectedBGFill:#aeaeb2;
    --barButtonSelectedBGFill-rgb:174,174,178;
    --barButtonSelectedTextColor:#4c4c4c;
    --barButtonSelectedTextColor-rgb:76,76,76;
    --lockupSuperlabelPrimary:rgba(0, 0, 0, 0.95);
    --lockupChinScrim:rgba(0, 0, 0, 0.2);
    --lovedBGColor:#fa2d48;
    --lovedBGColor-rgb:250,45,72;
    --playerDropShadow2:rgba(0, 0, 0, 0.1);
    --playerInnerShadow:rgba(255, 255, 255, 0.1);
    --powerSwooshAlgoRadioLockupChinScrim:rgba(44, 44, 46, 0.4);
    --socialSearchBG:rgba(255, 255, 255, 0.15);
    --socialModalFooter:rgba(0, 0, 0, 0.7);
    --tracklistAltRowColor:rgba(255, 255, 255, 0.015);
    --tracklistHoverColor:rgba(255, 255, 255, 0.06);
    --tracklistWorksTrackHoverColor:rgba(255, 255, 255, 0.12);
    --viewLoading:transparent;
    --circularArtistHeaderGradientBottom:rgba(255, 255, 255, 0.03);
    --dialogScrimColor:rgba(38, 38, 38, 0.8);
    --monogramPlaceholderColor:#5a5a5a;
    --monogramPlaceholderColor-rgb:90,90,90;
    --listItemAddDownloadBG:rgba(255, 255, 255, 0.55);
    --listItemProgressBG:rgba(255, 255, 255, 0.25);
    --upsellBannerBG:#fa2d48;
    --upsellBannerBG-rgb:250,45,72;
    --radiosityShadowColor:rgba(0, 0, 0, 0.3);
    --dialogShadowColor:rgba(0, 0, 0, 0.55);
    --contextMenuBorderColor:rgba(255, 255, 255, 0.1);
    --contextMenuTextColor:rgba(255, 255, 255, 0.85);
    --footerBG:#323232;
    --footerBG-rgb:50,50,50;
    --frostedFallbackHover:rgba(152, 152, 157, 0.8);
    --iPhoneNowPlayingBackdropBG:#dbccc4;
    --iPhoneNowPlayingBackdropBG-rgb:219,204,196;
    --searchBorder:rgba(255, 255, 255, 0.15);
    --searchIconDropShadow:rgba(0, 0, 0, 0.25);
    --searchHintsBG:rgba(44, 46, 48, 0.9);
    --searchHintsBGHover:rgba(45, 47, 50, 0.9);
    --sidebar:rgba(235, 235, 245, 0.03);
    --sidebarBorderRule:rgba(255, 255, 255, 0.1);
    --sidebarSelectedState:rgba(235, 235, 245, 0.1);
    --sidebarNativeUpsellBackgroundFallback:rgba(60, 60, 67, 0.95);
    --webNavigationMobileBg:#2e2e2e;
    --webNavigationMobileBg-rgb:46,46,46;
    --playerScrubberPlayhead:#7c7c7c;
    --playerScrubberPlayhead-rgb:124,124,124;
    --playerScrubberFill:rgba(255, 255, 255, 0.6);
    --playerScrubberTrack:rgba(255, 255, 255, 0.1);
    --playerBackgroundFallback:rgba(45, 45, 45, 0.97);
    --playerBackground:rgba(45, 45, 45, 0.88);
    --playerGradientTop:transparent;
    --playerGradientBottom:transparent;
    --playerLCDLogo:rgba(255, 255, 255, 0.4);
    --playerLCDBGFill:#4d4d4d;
    --playerLCDBGFill-rgb:77,77,77;
    --playerLCDBGOuterStroke:rgba(0, 0, 0, 0.2);
    --playerArtworkKeyline:rgba(255, 255, 255, 0.1);
    --playerVolumePlayhead:#2c2c2c;
    --playerVolumePlayhead-rgb:44,44,44;
    --playerVolumePlayheadActive:#413e40;
    --playerVolumePlayheadActive-rgb:65,62,64;
    --playerVolumeFill:rgba(255, 255, 255, 0.6);
    --playerVolumeTrack:rgba(255, 255, 255, 0.15);
    --playerVolumeIconFill:rgba(255, 255, 255, 0.4);
    --trackBackgroundEven:rgba(255, 255, 255, 0.05);
    --trackHoverColor:rgba(0, 0, 0, 0.37);
    --playerPlatterButtonBGFill:white;
    --playerPlatterButtonBGFill-rgb:255,255,255;
    --playerPlatterButtonIconFill:rgba(0, 0, 0, 0.7);
    --librarySongsTrackInactiveBG:rgba(255, 255, 240, 0.12);
    --searchScopeDeselectedGradientTop:#595a5c;
    --searchScopeDeselectedGradientTop-rgb:89,90,92;
    --searchScopeDeselectedGradientBottom:#565759;
    --searchScopeDeselectedGradientBottom-rgb:86,87,89;
    --searchScopeSelectedBGFill:#aeaeb2;
    --searchScopeSelectedBGFill-rgb:174,174,178;
    --searchScopeSelectedTextColor:#4c4c4c;
    --searchScopeSelectedTextColor-rgb:76,76,76;
    --searchBoxIconFill:rgba(255, 255, 255, 0.9);
    --segmentedControlBG:rgba(118, 118, 128, 0.24);
    --segmentedControlSelectedBG:#636366;
    --segmentedControlSelectedBG-rgb:99,99,102;
    --segmentedControlSelectedShadow1:transparent;
    --segmentedControlSelectedShadow2:transparent;
    --searchBarBorderColor:rgba(0, 0, 0, 0.15)
  }
}