/**
 * @name Spotify
 * @author devilAPI#0361
 * @description Spotify Theme
*/

@media (prefers-color-scheme:dark) {
  :root {
    --primaryColor: #1DB954 !important;
    --primaryColor-rgb: 30, 215, 96 !important;
    --sidebarStandard: #191414 !important;
    --sidebarGlasstron: #19141418 !important;
    --footerBG: #191414 !important;
    --pageBG: #191414 !important;
    --pageBG-rgb: rgba(25, 20, 20, 0.1) !important;
    --playerBackground: #191414 !important;
    --playerLCDBGFill: #191414 !important;

    --modalBGColor: var(--pageBG) !important;
    --systemHeaderMaterialSover: var(--pageBG) !important;
    --systemQuaternary: var(--pageBG-rgb) !important;
    --selectionColor: var(--primaryColor) !important;
  }
}