:root {
  --bodyGutter: 25px;
  /* color-scheme: light dark; */
  --systemPrimary: rgba(0, 0, 0, 0.85);
  --systemSecondary: rgba(0, 0, 0, 0.5);
  --systemTertiary: rgba(0, 0, 0, 0.25);
  --systemQuaternary: rgba(0, 0, 0, 0.1);
  --systemQuinary: rgba(0, 0, 0, 0.05);
  --systemVibrantPrimary: #262626;
  --systemVibrantPrimary-rgb: 38,38,38;
  --systemVibrantSecondary: #737373;
  --systemVibrantSecondary-rgb: 115,115,115;
  --systemVibrantTertiary: #bfbfbf;
  --systemVibrantTertiary-rgb: 191,191,191;
  --systemVibrantQuaternary: #e5e5e5;
  --systemVibrantQuaternary-rgb: 229,229,229;
  --systemVibrantQuinary: #f2f2f2;
  --systemVibrantQuinary-rgb: 242,242,242;
  --systemVibrantTextPrimary: #4d4d4d;
  --systemVibrantTextPrimary-rgb: 77,77,77;
  --systemVibrantTextSecondary: gray;
  --systemVibrantTextSecondary-rgb: 128,128,128;
  --systemVibrantTextTertiary: #c6c6c6;
  --systemVibrantTextTertiary-rgb: 198,198,198;
  --primaryColor: #fa233b;
  --primaryColor-rgb: 250,35,59;
  --primaryColorRollover: #c60007;
  --primaryColorRollover-rgb: 198,0,7;
  --primaryColorPressed: #e00921;
  --primaryColorPressed-rgb: 224,9,33;
  --primaryColorDeepPressed: #c60007;
  --primaryColorDeepPressed-rgb: 198,0,7;
  --primaryColorDisabled: rgba(250, 35, 59, 0.35);
  --labelPrimary: rgba(0, 0, 0, 0.85);
  --labelSecondary: rgba(0, 0, 0, 0.5);
  --labelTertiary: rgba(0, 0, 0, 0.25);
  --labelQuaternary: rgba(0, 0, 0, 0.1);
  --vibrantPrimary: #262626;
  --vibrantPrimary-rgb: 38,38,38;
  --vibrantSecondary: #737373;
  --vibrantSecondary-rgb: 115,115,115;
  --vibrantTertiary: #bfbfbf;
  --vibrantTertiary-rgb: 191,191,191;
  --vibrantQuaternary: #e5e5e5;
  --vibrantQuaternary-rgb: 229,229,229;
  --labelDivider: rgba(0, 0, 0, 0.15);
  --vibrantDivider: rgba(60, 60, 67, 0.29);
  --genericJoeColor: #ebebeb;
  --genericJoeColor-rgb: 235,235,235;
  --opaqueShelfBG: #f2f2f2;
  --opaqueShelfBG-rgb: 242,242,242;
  --pageBG: white;
  --pageBG-rgb: 255,255,255;
  --profileBadgeJoeColor: #e2e4e7;
  --profileBadgeJoeColor-rgb: 226,228,231;
  --shelfBG: rgba(0, 0, 0, 0.05);
  --systemGreen: #28cd41;
  --systemGreen-rgb: 40,205,65;
  --systemRed: #ff3b30;
  --systemRed-rgb: 255,59,48;
  --modalBGColor: white;
  --modalBGColor-rgb: 255,255,255;
  --modalBGHeaderColor: rgba(255, 255, 255, 0.97);
  --modalScrimColor: rgba(0, 0, 0, 0.45);
  --selectionColor: #dd1f34;
  --selectionColor-rgb: 221,31,52;
  --selectionColorRollover: #af0007;
  --selectionColorRollover-rgb: 175,0,7;
  --selectionColorPressed: #c6081d;
  --selectionColorPressed-rgb: 198,8,29;
  --selectionColorDeepPressed: #af0007;
  --selectionColorDeepPressed-rgb: 175,0,7;
  --selectionColorDisabled: rgba(250, 35, 59, 0.35);
  --topResultsBGColor: rgba(0, 0, 0, 0.1);
  --lockupHoverBGColor: rgba(51, 51, 51, 0.3);
  --opaquePageBGColor: white;
  --opaquePageBGColor-rgb: 255,255,255;
  --replayCardBG: #f7f3eb;
  --replayCardBG-rgb: 247,243,235;
  --replayComponentBG: #fbf9f5;
  --replayComponentBG-rgb: 251,249,245;
  --explicitBadgeColor: #6c6c70;
  --explicitBadgeColor-rgb: 108,108,112;
  --systemGrayIncreaseContrast: #6c6c70;
  --systemGrayIncreaseContrast-rgb: 108,108,112;
  --barButtonDeselectedGradientTop: #fefefe;
  --barButtonDeselectedGradientTop-rgb: 254,254,254;
  --barButtonDeselectedGradientBottom: #fafafa;
  --barButtonDeselectedGradientBottom-rgb: 250,250,250;
  --barButtonSelectedBGFill: #7f7f7f;
  --barButtonSelectedBGFill-rgb: 127,127,127;
  --barButtonSelectedTextColor: white;
  --barButtonSelectedTextColor-rgb: 255,255,255;
  --lockupSuperlabelPrimary: rgba(255, 255, 255, 0.95);
  --lockupChinScrim: rgba(0, 0, 0, 0.2);
  --lovedBGColor: #fa233b;
  --lovedBGColor-rgb: 250,35,59;
  --playerDropShadow2: rgba(0, 0, 0, 0.07);
  --playerInnerShadow: rgba(255, 255, 255, 0.45);
  --powerSwooshAlgoRadioLockupChinScrim: rgba(44, 44, 46, 0.4);
  --socialSearchBG: rgba(0, 0, 0, 0.15);
  --socialModalFooter: rgba(255, 255, 255, 0.7);
  --tracklistAltRowColor: rgba(0, 0, 0, 0.015);
  --tracklistHoverColor: rgba(0, 0, 0, 0.06);
  --tracklistWorksTrackHoverColor: rgba(0, 0, 0, 0.12);
  --viewLoading: white;
  --viewLoading-rgb: 255,255,255;
  --systemThinMaterialSover: rgba(246, 246, 246, 0.48);
  --systemThinMaterialSoverInactive: #f0f0f0;
  --systemThinMaterialSoverInactive-rgb: 240.006,240.006,240.006;
  --systemThinMaterialSoverIncreaseContrast: gainsboro;
  --systemThinMaterialSoverIncreaseContrast-rgb: 219.9885,219.9885,219.9885;
  --systemThinMaterialSoverIncreaseContrastInactive: #ececec;
  --systemThinMaterialSoverIncreaseContrastInactive-rgb: 236.0025,236.0025,236.0025;
  --systemMediumMaterialSover: rgba(246, 246, 246, 0.6);
  --systemMediumMaterialSoverInactive: #f0f0f0;
  --systemMediumMaterialSoverInactive-rgb: 240.006,240.006,240.006;
  --systemMediumMaterialSoverIncreaseContrast: #e6e6e6;
  --systemMediumMaterialSoverIncreaseContrast-rgb: 230.01,230.01,230.01;
  --systemMediumMaterialSoverIncreaseContrastInactive: #ececec;
  --systemMediumMaterialSoverIncreaseContrastInactive-rgb: 236.0025,236.0025,236.0025;
  --systemThickMaterialSover: rgba(246, 246, 246, 0.72);
  --systemThickMaterialSoverInactive: #f0f0f0;
  --systemThickMaterialSoverInactive-rgb: 240.006,240.006,240.006;
  --systemThickMaterialSoverIncreaseContrast: #f0f0f0;
  --systemThickMaterialSoverIncreaseContrast-rgb: 240.006,240.006,240.006;
  --systemThickMaterialSoverIncreaseContrastInactive: #ececec;
  --systemThickMaterialSoverIncreaseContrastInactive-rgb: 236.0025,236.0025,236.0025;
  --systemHeaderMaterialSover: rgba(255, 255, 255, 0.8);
  --systemHeaderMaterialSoverIncreaseContrast: white;
  --systemHeaderMaterialSoverIncreaseContrast-rgb: 255,255,255;
  --circularArtistHeaderGradientBottom: rgba(0, 0, 0, 0.05);
  --dialogScrimColor: rgba(255, 255, 255, 0.8);
  --monogramPlaceholderColor: #9a9aa2;
  --monogramPlaceholderColor-rgb: 154,154,162;
  --listItemAddDownloadBG: rgba(0, 0, 0, 0.5);
  --listItemProgressBG: rgba(0, 0, 0, 0.25);
  --upsellBannerBG: #fa233b;
  --upsellBannerBG-rgb: 250,35,59;
  --radiosityShadowColor: rgba(0, 0, 0, 0.1);
  --dialogShadowColor: rgba(0, 0, 0, 0.25);
  --contextMenuBorderColor: rgba(0, 0, 0, 0.15);
  --contextMenuTextColor: rgba(0, 0, 0, 0.85);
  --footerBG: #fbfbfb;
  --footerBG-rgb: 251,251,251;
  --frostedFallbackHover: rgba(142, 142, 147, 0.8);
  --iPhoneNowPlayingBackdropBG: #dbccc4;
  --iPhoneNowPlayingBackdropBG-rgb: 219,204,196;
  --searchBorder: rgba(0, 0, 0, 0.15);
  --searchIconDropShadow: rgba(0, 0, 0, 0.15);
  --searchHintsBG: rgba(232, 232, 232, 0.9);
  --searchHintsBGHover: rgba(201, 204, 203, 0.9);
  --sidebar: rgba(60, 60, 67, 0.03);
  --sidebarBorderRule: rgba(0, 0, 0, 0.1);
  --sidebarSelectedState: rgba(60, 60, 67, 0.1);
  --sidebarNativeUpsellBackgroundFallback: rgba(255, 255, 255, 0.97);
  --webNavigationMobileBg: white;
  --webNavigationMobileBg-rgb: 255,255,255;
  --playerScrubberPlayhead: #737373;
  --playerScrubberPlayhead-rgb: 115,115,115;
  --playerScrubberFill: rgba(0, 0, 0, 0.5);
  --playerScrubberTrack: rgba(0, 0, 0, 0.1);
  --playerBackgroundFallback: rgba(255, 255, 255, 0.97);
  --playerBackground: rgba(255, 255, 255, 0.88);
  --playerGradientTop: rgba(255, 255, 255, 0.25);
  --playerGradientBottom: rgba(255, 255, 255, 0);
  --playerLCDLogo: rgba(0, 0, 0, 0.4);
  --playerLCDBGFill: white;
  --playerLCDBGFill-rgb: 255,255,255;
  --playerLCDBGOuterStroke: rgba(0, 0, 0, 0.2);
  --playerArtworkKeyline: rgba(0, 0, 0, 0.1);
  --playerVolumePlayhead: white;
  --playerVolumePlayhead-rgb: 255,255,255;
  --playerVolumePlayheadActive: #e5e5e5;
  --playerVolumePlayheadActive-rgb: 229,229,229;
  --playerVolumeFill: rgba(0, 0, 0, 0.5);
  --playerVolumeTrack: rgba(0, 0, 0, 0.15);
  --playerVolumeIconFill: rgba(0, 0, 0, 0.4);
  --trackBackgroundEven: rgba(0, 0, 0, 0.02);
  --trackHoverColor: rgba(255, 255, 255, 0.97);
  --playerPlatterButtonBGFill: #6c6c6c;
  --playerPlatterButtonBGFill-rgb: 108,108,108;
  --playerPlatterButtonIconFill: white;
  --playerPlatterButtonIconFill-rgb: 255,255,255;
  --librarySongsTrackInactiveBG: rgba(0, 0, 0, 0.14);
  --searchScopeDeselectedGradientTop: #fefefe;
  --searchScopeDeselectedGradientTop-rgb: 254,254,254;
  --searchScopeDeselectedGradientBottom: #fafafa;
  --searchScopeDeselectedGradientBottom-rgb: 250,250,250;
  --searchScopeSelectedBGFill: #7f7f7f;
  --searchScopeSelectedBGFill-rgb: 127,127,127;
  --searchScopeSelectedTextColor: white;
  --searchScopeSelectedTextColor-rgb: 255,255,255;
  --searchBoxIconFill: rgba(0, 0, 0, 0.65);
  --segmentedControlBG: rgba(118, 118, 128, 0.12);
  --segmentedControlSelectedBG: white;
  --segmentedControlSelectedBG-rgb: 255,255,255;
  --segmentedControlSelectedShadow1: rgba(0, 0, 0, 0.12);
  --segmentedControlSelectedShadow2: rgba(0, 0, 0, 0.04);
  --segmentedControlSelectedBorder: rgba(0, 0, 0, 0.04);
  --searchBarBorderColor: rgba(0, 0, 0, 0.15);
  --viewport-default: "xsmall";
  --viewport-grid-layout: "grid-layout:xs-1";
  --viewport-sidebar: "sidebar:hidden";
  --viewport-search-landing-grid: "search-landing-grid:1";
  --web-navigation-width: 164px;
}