#lyricer {
	font-size: 88%;
	font-family: "Microsoft YaHei","Hiragino Sans GB W3",Tahoma,Arial;
  	text-shadow: 0 0 1px #EEEEEE;
  	color: #666666;
  	overflow: hidden;
}

#lyricer ul {
	list-style-type: none;
	padding: 5px;
}

#lyricer ul li {
	overflow: auto;
}

#lyricer ul li:hover {
	color: #428bca;
}

#lyricer .lyricer-current-line {
	color: #fff;
	text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ff2d95, 0 0 6px #ff2d95, 0 0 8px #ff2d95, 0 0 10px #ff2d95, 0 0 12px #ff2d95;
}
