<div class="md-container" id="castdevices-vue">
    <div class="md-header">
        <div class="cast_logo"></div>
        <h1 class="md-h1">Cast To Device</h1>
    </div>
    <div class="md-body" style="overflow-y: overlay">
        <h2>Chromecast / Miracast</h2>
        <div class="md-option-container" style="margin-top: 12px;margin-bottom: 12px;">
            <div class="md-option-line" v-for="(device) in devices.cast" @click="setCast(device.host)">
                <div class="md-option-segment" style="cursor: pointer">
                    {{ device.name }}
                    <br>
                    <small>{{ device.host }}</small>
                </div>
                <div class="md-option-segment_auto" style="cursor: pointer" v-if="false">
                    Connecting...
                </div>
                <div class="md-option-segment_auto" style="cursor: pointer;font-weight:bold;">
                    <button class="md-btn md-block md-btn-primary" style="width: 160px;">Stop Casting</button>
                </div>
            </div>
        </div>
        <h2 style="opacity:0.5;">AirPlay</h2>
        <div class="md-option-container" style="margin-top: 12px;margin-bottom: 12px;">
            <div class="md-option-line">
                <div class="md-option-segment" style="cursor: pointer">
                    AirPlay is still under development
                </div>
            </div>
        </div>
    </div>
    <div class="md-footer">
        <div class="row">
            <div class="col-auto">
                <button class="md-btn md-btn-block md-btn-primary">Stop casting to all devices</button>
            </div>
            <div class="col-auto">
                <button class="md-btn md-btn-block">Scan</button>
            </div>
        </div>
    </div>
</div>
<style>
    .cast_logo {
        background: url("ameres://icons/webui/cast.svg");
        width:64px;
        height: 64px;
        color:white;
        background-size: cover;
        filter:invert(1);
        margin: 0 auto;
    }
</style>