<div id="vue-model">
    <h1>Vue Test</h1>

    <h2>Test</h2>
    <div style="font-size: 3em;">{{ rangeTest }}</div>
    <input type="range" v-model="rangeTest" max=100 min=0>
    
    <h2>Appearance</h2>
    <label>Theme Applied</label>
    <select v-model="theme" @change="AMThemes.loadTheme(theme)" style="width:100%;">
        <option v-for="(theme, id) in AM.themesListing" :value="id">{{ theme.name }} by {{ theme.author }}</option>
    </select>
    <button @click="btn()">Button</button>
</div>